.music {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    max-width: 1400px;
    margin: 0 auto;
}

.music-items {
    scrollbar-width: none;
    padding: 0 1.5rem;
}

.music-items::before {
    content: '';
    top: 0;
    left: 0;
    width: 15vw;
    height: auto;
    position: fixed;
    background: linear-gradient(to right, #0a0a0a 20%, transparent);
}