.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    max-width: 1400px;
    margin: 0 auto;
}

.thequote {
    font-size: 1rem;
    background: linear-gradient(to bottom, #ffffffaa, #ffffff50);
    background-clip: text;
    color: transparent;
}