.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 1.5rem;
    text-align: center;
    margin: 0 auto;

    @media (width < 640px) {
        padding: 0;
    }
}

@media (width < 640px) {
    .hero {
        padding: 0;
    }

    .hero-container {
        border-radius: 0;
    }
}

.hero-container {
    position: relative;
    background-image: url('../../../public/rdap-bg.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    /* cursor: none; */
    width: 100%;

    @media (width < 640px) {
        border-radius: 0;
    }
}

.hero-title {
    font-size: 6rem;
    text-shadow: 0 0 .5rem #00000040;

    @media (width < 500px) {
        font-size: 4rem;
    }

    @media (width < 400px) {
        font-size: 3rem;
    }
}

.hero-buttons {
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

.hero-button {
    color: #fff;
    line-height: 1;
    cursor: pointer;
    overflow: hidden;
    font-weight: 700;
    font-size: .9rem;
    user-select: none;
    border-radius: 2rem;
    padding: .9rem 2rem;
    background-color: #000000;
    border: 1px solid #ffffff30;

    transition: background-color .2s ease-in-out;

    &.alt {
        border: none;
        background-color: #eee;
        color: #111;

        &:hover {
            background-color: #ccc;
        }
    }

    &:hover {
        background-color: #111;
    }

    p {
        line-height: 0;
    }
}