.merch-image {
    mix-blend-mode: darken;
    border-radius: 0.5rem;
    width: 500px;

    @media (max-width: 640px) {
        width: 400px;
    }

    @media (max-width: 400px) {
        width: 100%;
    }
}

.merch-link {
    color: #fff;
    font-size: .9rem;
    background-color: #111;
    padding: .4rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    transition: background-color .2s ease;
}

.merch-link:hover {
    background-color: #333;
}