@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@100;200;300;400;500;600;700;800;900&family=Geist+Mono:wght@100..900&family=Questrial&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Special+Gothic+Expanded+One&display=swap');
/*
Inter Tight: font-family: 'Inter Tight', sans-serif;
Geist Mono: font-family: 'Geist Mono', monospace;
Questrial: font-family: 'Questrial', sans-serif;
Space Grotesk: font-family: 'Space Grotesk', sans-serif;
Special Gothic Expanded One: font-family: 'Special Gothic Expanded One', sans-serif;
Roboto Mono: font-family: 'Roboto Mono', monospace;
*/
