@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

::selection {
  background: #ddd;
  color: #111;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter Tight', sans-serif;
  margin: 0 auto;
}

.debug {
  border: 1px solid #be3;
}

.fi {
  line-height: 0;
}

.wrapper {
  padding: 0 1.5rem;
}

.rdap-small {
  font-size: .615rem;
}