nav {
    width: 100%;
    background: #0e0e0e;
    border-bottom: 1px solid transparent;
    
    &.scrolled {
        border-bottom-color: #ffffff12;

        .nav-brand img {
            width: 3rem;
        }
    }
}

.nav-container {
    padding: 1rem 0;
    max-width: 1400px;
    margin: 0 auto;

    @media (width < 1440px) {
        padding: 1rem 2rem;
    }
}

nav, .nav-brand img, .nav-container {
    transition: all .4s ease;
}

#navBrandMobile {
    display: none;

    @media (width < 768px) {
        display: block;
    }
}

.nav-brand img {
    width: 6rem;
}

.nav-links {
    @media (width < 768px) {
        display: none;
    }

    a {
        color: #ffffff70;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: .5rem 0;
    }
    a:hover {
        color: #fff;
    }
}

.nav-button {
    overflow: hidden;
    font-size: .9rem;
    font-weight: 500;
    position: relative;
    color: #ffffff70;
    padding: .4rem 1rem;
    border-radius: 2rem;
    border: 1px solid #ffffff20;
    transition: color .4s ease-in-out, transform .3s ease-in-out, border-color .3s ease-in-out;

    &:hover {
        color: #111;
        border-color: transparent;

        &::before {
            left: 0;
        }
    }

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-color: #fff;
        transition: left .3s ease-in-out;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
    }
}

.nav-burger {
    line-height: 0;
    font-size: 1.3rem;
    color: #aaa;

    @media (width > 768px) {
        display: none;
    }
}