nav {
    width: 100%;
    background: #0a0a0a;
    transition: border .2s ease;
    border-bottom: 1px solid transparent;
    
    &.scrolled {
        border-bottom-color: #ffffff20;
    }
}

.nav-container {
    padding: 1rem 0;
    max-width: 1400px;
    margin: 0 auto;

    @media (width < 1440px) {
        padding: 1rem 2rem;
    }
}

.nav-links {

    @media (width < 768px) {
        display: none;
    }

    a {
        font-size: .7rem;
        color: #ffffff70;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    a:hover {
        color: #fff;
    }
}

.nav-button {
    overflow: hidden;
    font-size: .9rem;
    font-weight: 500;
    position: relative;
    color: #ffffff70;
    padding: .4rem 1rem;
    border-radius: .5rem;
    border: 1px solid #ffffff20;
    transition: color .4s ease-in-out, transform .3s ease-in-out, border-color .3s ease-in-out;

    &:hover {
        color: #111;
        border-color: transparent;

        &::before {
            left: 0;
        }
    }

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-color: #fff;
        transition: left .3s ease-in-out;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
    }
}

.nav-burger {
    line-height: 0;
    font-size: 1.3rem;
    color: #aaa;

    @media (width > 768px) {
        display: none;
    }
}