.socials-item {
    color: hsl(0, 0, 70);
    transition: all .2s ease-in-out;
}

.socials-item:hover {
    color: #07e;
    filter: drop-shadow(0 1.5rem 1rem #07e);
    transform: scale(1.3) translateY(-.3rem);
}